<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="scripts/app.js" charset="utf-8" defer></script>

<title>All Ways</title>
</head>
<body>
  <header>
    <h1>All Ways</h1>
    <h4>BART Directions and Driving Directions, Together</h4>
    <h4>Get you an app that can do both</h4>
  </header>
  <nav>
    <a href="#">Home</a>
    <a href="#">Incidents</a>
    <a href="#">Travel History</a>
  </nav>
  <section id="mapNav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <form id="mapInputs">
      <input type="text" name="current location" placeholder="Starting Location">
      <input type="checkbox" id="useCurrent">
      <label for="useCurrent">Use Current Location</label>
      <input type="text" name="destination" placeholder="Enter your destination" id="dest">
      <select id="stationList">
        <option value="" disabled selected>Closest Station:</option>
      </select>
      <button type="Submit" name="Go!" id="submit">Go!</button>
    </form>
  </section>
  <div id="getDirectionsHere">
   <h3 id="directionsHeader">Directions to BART</h3>
   <button id="directionsButton">Show/Hide</button>
   <div id="bartStation" class="hidden"></div>
   <ul id="turnByTurn">
   </ul>
 </div>
 <hr>
 <h4 id="midDirections">Take BART to: <select id="stationDest">
        <option value="" disabled selected>Destination Station:</option>
      </select></h4>
 <hr>
 <div id="directionsFromBart">
   <h3 id="directionsFinalHeader">Directions from BART</h3>
   <button id="directionsFinalButton">Show/Hide</button>
   <div id="finalDestination" class="hidden"></div>
   <ul id="lastTurnByTurn">
   </ul>
 </div>
 <div id="stationChanges">
<form id="updateStation">
  <h3>Need to Add a New BART Station?</h3>
<input type="text" name="station name" placeholder="Station Name">
<input type="text" name="station abbreviation" placeholder="Stn. Abbrev.">
<input type="text" name="station latitude" placeholder="Latitude">
<input type="text" name="station longitude" placeholder="Longitude">
<input type="text" name="station address" placeholder="Street Address">
<input type="text" name="station city" placeholder="City">
<input type="text" name="station county" placeholder="County">
<input type="text" name="station state" placeholder="State">
<input type="text" name="station zip" placeholder="Zip Code">
<button type="Submit" name="Submit">Submit</button>
</form>
 </div>
 <footer>
<p>&copy; 2018, a Troy and Aaron Production</p>
 </footer>
 </body>
</html>
