<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="scripts/app.js" charset="utf-8" defer></script>

<title>All Ways</title>
</head>
<body>
  <header>
    <h1>All Ways</h1>
    <h4>BART Directions and Driving Directions, Together</h4>
  </header>
  <nav>
    <a href="#">Home</a>
    <a href="#">Incidents</a>
    <a href="#">Travel History</a>
  </nav>
  <section id="mapNav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <form id="mapInputs">
      <input type="text" name="current location" placeholder="Starting Location">
      <input type="checkbox" id="useCurrent">
      <label for="useCurrent">Use Current Location</label>
      <input type="text" name="destination" placeholder="Enter your destination">
      <select id="stationList">
        <option value="" disabled selected>Closest Stations:</option>
      </select>
      <button type="Submit" name="Go!">Go!</button>
    </form>
  </section>
  <div id="bartStation"></div>
</body>
</html>
