body {
  box-sizing: border-box;
}

.container {
  padding-bottom: 50px;
}

#map {
  height: 600px;
  margin-top: 20px;
}

header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #199aca;
  color: white;
}

h1 {
  font-family: "Pacifico", sans-serif;
  font-size: 5em;
  margin-bottom: 35px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#getDirectionsHere, #stationChanges, #mapInputs {
  margin-left: 2em;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #199aca;
}

footer p {
  color: white;
  margin-left: 2em;
}
